.masthead h1 {
  padding: 20px;
}

.masthead h1 {
  transform: translateX(-100%) rotate(-90deg);
  transform-origin: right top;
  position: absolute;
  font-size: 30px;
}

.masthead-inner {
  padding-left: 80px;
}

@media (min-width: 990px) {
  .masthead h1 {
    font-size: 60px;
  }

  .container {
    margin-left: 30%;
  }
}

aside {
  font-size: 14px;
  color: #868279;
}

@media (max-width: 989px) {
  aside {
    padding: 10px 10px;
    background: #faf8f5;
    border: solid 1px #f7f4ed;
    border-bottom: solid 1px #f0e9db;
    border-radius: 3px;
  }
}

@media (min-width: 990px) {
  aside {
    position: absolute;
    margin-left: 57%;
    width: 10%;
  }
}
